@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "TASA Explorer", sans-serif;
    margin: 0; 
    color: rgb(0, 0, 0); 
    
}

header {
    z-index: 9999;
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: rgb(215, 255, 246);
    
}

.searchbar {
    padding-top: 10px;
}