/* style file for the profile page */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    line-height: 1.5rem;
}

body {
    font-family: "Alan Sans", sans-serif;
    background-color: rgb(218, 218, 218);
    display: grid;
    grid-template-columns: auto 1fr;
}

.logo {
    display: flex;
    font-size: 2em;
    align-items: center;;
    border: 3px solid rgb(80, 135, 255);
}


#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: rgb(80, 135, 255);
    border-right: 1px solid rgb(0, 0, 0);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close {
    padding: 5px;
    width: 60px;
}

#sidebar ul {
    list-style: none;
}

#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}

#sidebar ul li.active a{
    color: rgb(34, 255, 119);
    svg{
        fill: rgb(34, 255, 119);
    }
}

#sidebar a, #sidebar.logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar svg {
    flex-shrink: 0;
    fill: white
}

#sidebar a span {
    flex-grow: 1;
}

#sidebar a:hover {
    background-color: rgb(52, 88, 165);
}

.rotate svg:last-child{
    rotate: 180deg;
}

#toggleBtn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}

#toggleBtn:hover {
    background-color: rgb(52, 88, 165);
}