/* style file for the login page */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alan Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(80, 135, 255);
}


.wrapper {
    width: 420px;
    background: white;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.747);
    padding-bottom: 10px;

}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.choiceButtons {
    display: grid;
    justify-content: center;
    align-items: center;
}

input.signinButton{
    height: 45px;
    width: 300px;
    background-color: rgb(80, 135, 255);
    color: white;
    border: none;
    outline: none;
}